# MkDocs documentation requirements
# Install with: pip install -r requirements-docs.txt

mkdocs>=1.6.1
mkdocs-material>=9.7.7
mkdocs-minify-plugin>=0.8.0
pymdown-extensions>=10.21.3
pillow>=12.2.0
cairosvg>=2.9.0
